body{
	background-color: #dedede;
}
/**{
	padding: 0px;
	margin:0px;
}*/
.title{
	font-family: serif;
	padding-left: 2%;
	padding-top: 5%;
}
.header{
	height: 80vh;
	width: 50%;
	text-align: center;
	background-color: white;
}
.sentence{
	font-size: 75%;
}
.btn{
	height: 35px;
	width: 140px;
	margin-top: 3%;
	border: none;
	background-color: #4287f5;
	color: white;
	border-radius: 5px;
}
.btn:hover{
	height: 35px;
	width: 140px;
	margin-top: 3%;
	border: none;
	background-color: #4287f5;
	color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #f0eded;
}
.table{
	margin-top: 5%;
	font-size: 80%;
}
.number{
	width: 280px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	outline: none;
}
.number:hover{
	width: 280px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	outline: none;
	box-shadow: 1px 1px 1px 1px #f0eded;
}